
.box{
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid rgba(0,0,0, 0.7);
    align-items: center;
}

section{
    display: block;
}

h2{
    width: 80%;
    display: block;
}

.mid{
    width: 30%;
}


p{
    color: rgba(0,0,0, 0.6);
    display: block;
}
